.preview {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 50px;
  font-size: calc(5px + 2vmin);
  z-index: 1;
  border-radius: 50px 50px;
  outline: 0;
}


img {
  width: 600px;
  margin-top: 100px;
}


p {
  width: 500px;
  text-align: justify;
  color: black;
  font-size: 35px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 17px;
  top: 170px;
  word-wrap: break-word;
}


#hideEncoded {
  display: none;
}


#hideDecoded {
  display: none;
}


.modal {
  position:fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255,0,0,0.15);
}


.zoomOut {
  cursor: default;
}


.hidden {
  visibility: hidden;
}


@media only screen and (max-width: 768px) {
  .preview {
    margin-top: 30px;
  }
}


@media only screen and (max-width: 400px) {
  p {
    font-size: calc(5px + 2vmin);
    top: 60px;
    margin-top: 60px;
    width: 50%;
  }

  img {
    width: 70%;
  }
}


@media only screen and (max-width: 800px) and (min-width: 400px) {
  p {
    font-size: calc(10px + 2vmin);
    top: 70px;
    margin-top: 60px;
    width: 50%;
  }

  img {
    width: 70%;
  }
}


@media only screen and (max-width: 220px) {
  .min-width {
    min-width: 220px;
  }
}
