.buttons {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Cinzel';
  font-size: calc(5px + 2vmin);
  z-index: 1;
  border-radius: 50px 50px;
  outline: 0;
}

#text_cipher {
  background-color: #a919ef;
}


#close {
  background-color: #4CAF50;
  margin-left: 25px;
  margin-right: 25px;
}


#delete {
  background-color: #fd2016;
}
