input[type='text'] {
  display: block;
  font-size: calc(25px + 2vmin);
  margin-bottom: 10px;
  text-indent: 10px;
}


h1 {
  animation: 2s ease-in-out both myWordEnter;
}


@keyframes myWordEnter {
  0% {
    opacity: 0;
    transform: translate(0, -100%) scale(5);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}


@media only screen and (max-width: 768px) {
  input[type='text'] {
    font-size: calc(15px + 2vmin);
  }
}
