body {
  margin: 0;
  font-family: 'Cinzel', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type='text'] { font-size: 48px; font-family: 'Cinzel'; }


/* write styles for .shuffle-text-char with higher specificity */
h1 {
  animation: 2s ease-in-out both myWordEnter; /* none for no effect */
}

@keyframes myWordEnter {
  0% {
    opacity: 0;
    transform: translate(0, -100%) scale(5);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}
